In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("DonorData.csv")
df.head()

,Donor No,Company Name,Surname,Forename,Initials,Title,Honours,Salutation,Position,Department,...,GA Claim Amount,Aggregated Description,GASDS Submission Ref,GASDS Claimed By,GASDS Tax Year,GASDS Tax Amount,Letter Type,Acknowledgement Method,Acknowledged On,Acknowledgement Days
0,367838,NaN,Austin,Lorraine,L,Mrs,NaN,Mrs Austin,NaN,NaN,...,£0.00,NaN,Not Submitted,NaN,0,£0.00,N,NaN,NaN,NaN
1,367838,NaN,Austin,Lorraine,L,Mrs,NaN,Mrs Austin,NaN,NaN,...,£0.00,NaN,Not Submitted,NaN,0,£0.00,N,NaN,NaN,NaN
2,367838,NaN,Austin,Lorraine,L,Mrs,NaN,Mrs Austin,NaN,NaN,...,£0.00,NaN,Not Submitted,NaN,0,£0.00,N,NaN,NaN,NaN
3,367838,NaN,Austin,Lorraine,L,Mrs,NaN,Mrs Austin,NaN,NaN,...,£0.00,NaN,Not Submitted,NaN,0,£0.00,N,NaN,NaN,NaN
4,367838,NaN,Austin,Lorraine,L,Mrs,NaN,Mrs Austin,NaN,NaN,...,£0.00,NaN,Not Submitted,NaN,0,£0.00,N,NaN,NaN,NaN